<div class="row">
    <div class="col s12">
        <form *ngIf="statusContact" (ngSubmit)="newContact()">
            <div class="row">
                <div class="input-field col s6">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" name="name" [(ngModel)]="contact.name">
                    <label>Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="fa fa-at prefix"></i>
                    <input type="text" name="email" [(ngModel)]="contact.email">
                    <label>Email</label>
                </div>
            </div>
            <button class="btn-large red" type="submit" >SUBMIT</button>
        </form>
        
    </div>
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large red waves-effect waves-light" (click)="statusContact = !statusContact">
      <i class="large fa fa-plus"></i>
    </a>
    <ul>  
    </ul>
  </div>
        